
div.home_forms {
    height: 70px;
    width: 60%;
    /* background-color: black; */
    /* border-radius: 20px; */
    top: 100px;
    display: none;

}


form#add_form {
    width: 80%;
    height: 50px;
    /* background-color: #022061; */

}

input[type="text"] {
    width: 75%;
    height: 2rem;

}

#add_form button {
    height: 2.5rem;
    width: 4rem;

}

section#bookmark_list {
    width: 100%;
}

div.bookmark {
    /* display: flex; */
    height: 7rem;
    width: 70%;
    border: 1px solid grey;
}

#thumbnail {
    height: 5rem;
    width: 25%;
}

#main_menu {
    height: 50px;
    width: 100%;
}

div#dots {
    display: flex;
    justify-content: right;
    position: relative;
    top: -100px;
}

div#dots:after {
  content: '\2807';
  font-size: 20px;
  }
  